{% extends 'base/main.html' %}
{% load static %}
{% block base_css_content %}
    <link rel="stylesheet" href="{% static 'css/login-signup.css' %}">
    {% block css_content %}{% endblock %}
{% endblock %}
{% block base_content %}
    {% if form.errors %}
        <p>Please correct the following errors:</p>
        {% for field in form %}
            {% if field.errors %}
                <div class="alert alert-primary" role="alert">{{ field.label }}: {{ field.errors|striptags }}</div>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% block content %}{% endblock %}
{% endblock %}
{% block base_js_files %}
    {% block js_files %}{% endblock %}
{% endblock %}
