{% extends 'base/main.html' %}
{% load static %}
{% block base_content %}
    <!--    /-------------------/   HEADER  /-------------------/   -->
    <header class="header">
        <nav class="header-navbar">
            <h2 class="header-logo">
                <a href="{% url 'home' %}">Okuya</a>
            </h2>
            <div class="header-pages">
                <a class="header-links" href="{% url 'home' %}">Home</a>
                <a class="header-links" href="{% url 'trending' %}">trending</a>
            </div>
            {% if user.is_authenticated %}
                <h3>Hello, {{ user.full_name }}</h3>
                <a href="{% url 'logout' %}">Log Out</a>
            {% else %}
                <div class="header-login">
                    <a class="header-links" href="{% url 'login' %}">Log In</a>
                    <a class="header-links" href="{% url 'signup' %}">Sign Up</a>
                </div>
            {% endif %}
        </nav>
    </header>
    {% block content %}{% endblock %}
    {% block js_files %}{% endblock %}
     <!--    /-------------------/   FOOTER  /-------------------/   -->
     <footer class="footer">
        <div class="credit">all right reserved!</div>
    </footer>
{% endblock %}
{% block base_js_files %}
    <!--    swiper js link  -->
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}
