

:root {
    --black: #444;
    --light-color: #666;
    --border: .1rem solid rgba(0, 0, 0, .1);
    --border-hover: .1rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

body{
    background-image: url("../img/bgc.jpg") ;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}


html::-webkit-scrollbar {
    width: .5rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #444;
}

section {
    padding: 5rem 9%;
}

.trend-wrap{
    margin-bottom: 50px;
}

.main-title{
    text-transform: uppercase;
    font-size: 5rem;
}

.heading {
    text-transform: uppercase;
    margin-bottom: 2.5rem;
    padding-left: 5rem;
    position: relative;
}

.heading::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: .01rem;
    background: rgba(0, 0, 0, .1);
    z-index: -1;
}

.heading span {
    font-size: 2.5rem;
    padding: .5rem 2rem;
    color: var(--black);
    background: #fff;
    border: var(--border);
}

a, a:hover{
    text-decoration: none;
    color: #000;
}


/*  --------------  HEADER  --------------  */
.header{
    text-transform: uppercase;

}

.header-navbar{
    padding: 1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}

.header-logo{
    font-size: 2.5rem;
    font-weight: bolder;
}

.header-links {
    margin-left: 1rem;
    padding: 1rem;
    font-size: 1.7rem;
}

.header-links:hover{
    color: #fff;
    background-color: #4070f4;
    border-radius: 5px;
    transition: .2s;
}

/*  --------------  HEADER-BOTTOM-NAVBAR  --------------  */
.header-top{
    text-transform: uppercase;
    padding: 1rem;
    text-align: center;
    display: none;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}

.header-logo{
    font-size: 4rem;
}

.header-top-content{
    text-transform: uppercase;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}

.header-logo-content{
    font-size: 4rem;
}

.bottom-navbar{
    background-color: #fff;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    text-align: center;
    display: none;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);

}

.bottom-navbar a {
    font-size: 2.5rem;
    padding: 2rem;
    color: #000000;
}


/*  --------------  NEWS SECTION  --------------  */

.trending-slider .box{
    padding: .5rem;
    border: var(--border);

}
.trending-slider .image img,
.description-slider .image img{
    width: 100%;
    height: 90%;
}

.trending-slider .trend-content{
    padding: .5rem;
    font-size: 2rem;
}


/*  --------------  DESCRIPTION SECTION  --------------  */

.description-slider .card{
    max-width: 300px;
    padding: 1rem;
    margin: 0 1rem;
}

.description-slider .image {
    padding: 1rem;
}

.description-slider .content{
    padding: 0 1rem;
    font-size: 1rem;
}

.description-slider .content h4{
    font-size: 1.5rem;
}

.description-slider .content .read-more{
    color: #4070f4;
}


/*  --------------  CONTENT SECTION  --------------  */
.content{
    padding: 0 12%;
    margin: 100px 0;
}
.content-comment{
    border: 1px solid;
    margin-bottom: 100px;
    padding: 2rem 4rem;
}

.content-comment-title{
    text-align: center;
    font-size: 3rem;
    padding: 1rem 10rem;
}

.content-comment-like{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comment-user{
    display: flex;
    align-items: center;
}

.comment-user h4{
    font-size: 2rem;
}

.comment-user span img{
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 10px;
}

.content-comment-like .fa-heart{
    font-size: 4rem;
    cursor: pointer;
}


.content-wrap{
    display: flex;
    justify-content: center;
}
.content-image{
    max-width: 1080px;
    height: 920px;
}

.content-image img{
    width: 100%;
    height: 100%;
}

.content h2{
    margin: 100px 0 50px;
}

.content .content-text,
.content-text-ul{
    margin-bottom: 20px;
    font-size: 2.5rem;
}

.content-text-ul{
    padding: 4rem;
}

/*  --------------  FOOTER SECTION  --------------  */

.footer{
    color: #fff;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    background-color: #4070f4;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}
.credit{
    padding: 5rem 0;
    font-size: 1.5rem;
}


@media (max-width: 768px) {
    .header{
        display: none;
    }
    .bottom-navbar, .header-top {
        display: block;
    }
    .content-comment-title{
        text-align: center;
        font-size: 2rem;
        padding: 1rem ;
    }
}

