.category-box{
    margin-top: 222px;
    display: flex;

}
.category-info__one{
    margin-left: 106px;
    width: 199px;
    height: 76px;
    border: 1px solid #000000;
    text-align: center;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 31px;
    color: #000000;
}
.category-info__two{
    margin-left: 360px;
    width: 199px;
    height: 76px;
    border: 1px solid #000000;
    text-align: center;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 31px;
    color: #000000;
}
.category-info__three{
    margin-left: 360px;
    width: 199px;
    height: 76px;
    border: 1px solid #000000;
    text-align: center;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 31px;
    color: #000000;
}

.category-wrapp{
    margin-left: 54px;
    margin-top: 114px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 216px;
    column-gap: 216px;
}