<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Okuya.com</title>
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>
    <header class="header">
        <div class="header-box__one">
            <p>logo</p>
        </div>
        <nav class="header-box__two">
            <ul class="header-list">
                <li class="header-li"><a href="./home-page.html">Home</a></li>
                <li class="header-li"><a href="./about-page.html">About</a></li>
                <li class="header-li"><a href="./trending-page.html">Trending</a></li>
                <li class="header-li"><a href="./login.html">Log in</a></li>
                <li class="header-li"><a href="./registration.html">Sign up</a></li>

            </ul>
        </nav>
    </header>
    <hr class="line">
    <main class="main-content">
        <section class="section-hero">
            <div class="container">
            <div class="hero-box__one">
                <h1 class="hero-title">Title</h1>
            </div>
            <div class="hero-box__two">
            <img src="./img/content-page__hero.jpg" alt="" class="hero-img">
        </div>
        </div>
        </section>
        <section class="section-info">
            <div class="container-info">
                <div class="info-content">
                <p class="info-text___one">
                    Aenean pharetra quis lacus at viverra.  Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam quis posuere ligula. 
                </p>
                <p class="info-text__two">
                    In eu dui molestie, molestie lectus eu, semper lectus. Proin at justo lacinia, auctor nisl et, consequat ante. Donec sit amet nisi arcu. Morbi efficitur auctor metus, id mollis lorem pellentesque id. Nullam posuere maximus dui et fringilla. Nulla non volutpat leo.
                </p>
                <p class="info-text__three">
                    A list looks like this:</p>
                   <div class="info-subtext__box">
                       <img src="./img/info-item.png" alt="" class="info-item_img">
                       <p>First item in the list</p>
                    </div> 
                    <div class="info-subtext__box">
                        <img src="./img/info-item.png" alt=""class="info-item_img">
                        <p>Second item in the list lorem ipsum dolor sit amet nunc felis dolor lorem ipsum sit amet</p>
                     </div> 
                     <div class="info-subtext__box">
                        <img src="./img/info-item.png" alt=""class="info-item_img">
                        <p>Third item in the list</p>
                     </div> 
                     <p class="info-text__four">
                        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam quis posuere ligula. 
                        <br>
                        Thanks for reading,
                        <br>
                        Mika
                     </p>
                     <p class="info-text__five">
                        credits:
                     </p>
            </div>
        </div>
        </section>
    </main>
    <footer class="footer"></footer>
</body>
</html>