{% extends "base.html" %}
{% load static %}
{% block title %}Okuya - {{ article.title }}{% endblock %}
{% block content %}
    <section class="content">
        <h2 class="main-title">{{ article.title }}</h2>
        <div class="wrapp">
            <div class="content-image">
                <img src="{% static 'img/21145-bmw-sportkar-sportivnyj_avtomobil-bmw_m3-avtomobil-3840x2160.jpg' %}"
                     alt="">
            </div>
        </div>
        {% for paragraph in  article_paragraphs %}<p class="content-text">{{ paragraph }}</p>{% endfor %}
    </section>
{% endblock %}
