<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Okuya.com</title>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/trending-styles.css">
</head>
<body>

    <header class="header">
        <div class="header-box__one">
            <p>logo</p>
        </div>
        <nav class="header-box__two">
            <ul class="header-list">
                <li class="header-li"><a href="./home-page.html">Home</a></li>
                <li class="header-li"><a href="./about-page.html">About</a></li>
                <li class="header-li"><a href="./trending-page.html">Trending</a></li>
            </ul>
        </nav>
    </header>

    <hr class="line">
    
    <main class="main-trending">
        <section class="category">
            <div class="category-box">
                <div class="category-info__one">
                    <p>Sports</p>
                </div>
                <div class="category-info__two">
                    <p>science</p>
                </div>
                <div class="category-info__three">
                    <p>art</p>
                </div>
            </div>
            <div class="category-wrapp">
                <div class="category-wrapper">
                    <img src="./img/categoty-img__one.jpg" alt="" class="category-img">
                </div>
                <div class="category-wrapper">
                    <img src="./img/category-img__two.jpg" alt="" class="category-img">
                </div>
                <div class="category-wrapper">
                    <img src="./img/category-img__three.jpg" alt="" class="category-img">
                </div>
                <div class="category-wrapper">
                    <img src="./img/category-img__four.jpg" alt="" class="category-img">
                </div>
                <div class="category-wrapper">
                    <img src="./img/category-img__five.jpg" alt="" class="category-img">
                </div>
                <div class="category-wrapper">
                    <img src="./img/category-img__six.jpg" alt="" class="category-img">
                </div>
            </div>
        </section>
    </main>
    <footer class="footer"></footer>
</body>
</html>