{% extends 'base/auth.html' %}
{% load static %}
{% block content %}
    <!--    /-------------------/   LOGIN-SIGNUP-RESET  /-------------------/   -->
    <div class="form-container">
        <div class="forms">
            <div class="form login">
                <span class="title">Password Rest</span>
                <form method="POST">
                    {% csrf_token %}
                    <div class="input-field">
                        {{ form.new_password1 }}
                        <i class="fa-solid fa-lock"></i>
                        <i class="fa-solid fa-eye-slash showHidePw"></i>
                    </div>
                    <div class="input-field">
                        {{ form.new_password2 }}
                        <i class="fa-solid fa-lock"></i>
                    </div>
                    <div class="input-field button">
                        <input type="submit" value="Reset">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block js_files %}
    <script src="{% static 'js/login.js' %}"></script>
{% endblock %}
