{% extends 'base/auth.html' %}
{% load static %}
{% block title %}Send Email{% endblock %}
{% block content %}
    <!--    /-------------------/   LOGIN-SIGNUP-RESET  /-------------------/   -->
    <div class="form-container">
        <div class="forms">
            <div class="form login">
                <span class="title">Send Email Reset Password</span>
                <form action="{% url 'pwdreset' %}" method="post">
                    {% csrf_token %}
                    <div class="input-field">
                        {{ form.email }}
                        <i class="fa-solid fa-envelope"></i>
                    </div>
                    <div class="input-field button">
                        <input type="submit" value="Send email">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block js_files %}<script src="{% static 'js/login.js' %}"></script>{% endblock %}
